<ng-template
  #customCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  ><div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 1">
    <ion-avatar
      (click)="openDetailPage(event?.profileData)"
      class="event-avatar"
      *ngFor="let event of day.events; let i = index"
      (mouseenter)="highlightDay.emit({ event: event })"
      (mouseleave)="unhighlightDay.emit({ event: event })"
      [ngClass]="{ first: i == 0, second: i == 1, third: i == 2, other: i > 2 }"
      [mwlCalendarTooltip]="getTitle(day.events)"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event"
      [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
    >
      <img
        [src]="event?.profileData.profilePhotoDataUrl || '/assets/shapes.svg'"
        style="width: 48px; height: auto; aspect-ratio: 1/1"
      />
    </ion-avatar>
  </div>
  <div class="cal-events" *ngIf="day.events.length === 1">
    <ion-avatar
      (click)="openDetailPage(event?.profileData)"
      class="first"
      *ngFor="let event of day.events"
      (mouseenter)="highlightDay.emit({ event: event })"
      (mouseleave)="unhighlightDay.emit({ event: event })"
      [mwlCalendarTooltip]="getTitle(day.events)"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event"
      [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
    >
      <img
        [src]="event?.profileData.profilePhotoDataUrl || '/assets/shapes.svg'"
        style="width: 48px; height: auto; aspect-ratio: 1/1"
      />
    </ion-avatar>
  </div>
</ng-template>

<ion-header [hidden]="toggle === false" style="padding: 8px 0">
  <div *ngIf="isMobile === false" class="header" style="display: flex">
    <div class="col-md-4">
      <div class="btn-group" style="display: flex; align-items: center">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          style="display: flex; align-items: center; justify-content: center"
        >
          前月
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center"
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          今日
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          style="display: flex; align-items: center; justify-content: center"
        >
          次月
        </div>
      </div>
    </div>
    <h3>{{ viewDate.getFullYear() }}年 {{ viewDate.getMonth() + 1 }}月</h3>
  </div>
</ion-header>

<ion-content>
  <mwl-calendar-month-view
    [hidden]="toggle === false"
    *ngIf="events$ | async as event"
    [cellTemplate]="customCellTemplate"
    [viewDate]="viewDate"
    [events]="event"
    (beforeViewRender)="updateEvent()"
  >
  </mwl-calendar-month-view>
  <ion-item-group [hidden]="toggle === true" *ngIf="mobileEvents | async as event">
    <ng-container *ngFor="let month of monthArray">
      <ion-item-divider style="background-color: #eeeeee">
        <ion-label style="font-weight: bold; color: black">{{ month }}月</ion-label>
      </ion-item-divider>
      <ng-container *ngFor="let day of dayArray">
        <ion-list lines="none" *ngIf="getMonthBirthDayDate(month, day).length !== 0">
          <ion-label *ngIf="getMonthBirthDayDate(month, day).length !== 0" style="padding-left: 20px"
            >{{ day }}日</ion-label
          >
          <ng-container *ngFor="let p of getMonthBirthDayDate(month, day)">
            <ion-item lines="none" slot="start" (click)="openDetailPage(p)">
              <ion-avatar slot="start" style="width: 36px; height: 36px">
                <ion-img [src]="p?.profilePhotoDataUrl || '/assets/shapes.svg'"></ion-img>
              </ion-avatar>
              <ion-item slot="" lines="none" style="width: 100%">
                <ion-label>{{ p.name }}</ion-label>
              </ion-item>
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>
    </ng-container>
  </ion-item-group>
</ion-content>

<ion-footer *ngIf="isMobile === false">
  <ion-item lines="none">
    <ion-label slot="end">カレンダー</ion-label>
    <ion-toggle slot="end" [(ngModel)]="toggle"></ion-toggle>
  </ion-item>
</ion-footer>
