<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" size="large" (click)="openCreatePage()">
    <ion-icon name="add-circle-sharp"></ion-icon>
  </ion-button>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
