<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" size="large" (click)="openCreatePage()">
    <ion-icon name="add-circle-sharp"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item lines="full" *ngFor="let c of profile | async" (click)="openDetailPage(c)">
      <ion-avatar slot="start" style="width: 36px; height: 36px">
        <ion-img [src]="c?.profilePhotoDataUrl || '/assets/shapes.svg'"></ion-img>
      </ion-avatar>
      <div class="ion-text-nowrap" style="padding-top: 10px; padding-bottom: 10px">{{ c.name }}</div>
    </ion-item>
  </ion-list>
</ion-content>
