<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" size="large" (click)="openCreatePage()">
    <ion-icon name="add-circle-sharp"></ion-icon>
  </ion-button>

  <ion-list class="ion-padding-top">
    <ion-item *ngFor="let c of profile | async">
      <ion-avatar slot="start" style="width: 36px; height: 36px">
        <ion-img [src]="c?.profilePhotoDataUrl || '/assets/shapes.svg'"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding ion-text-wrap">
        <div class="ion-text-nowrap">
          <strong>{{ c.name }}</strong>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
