h3 {
  margin-left: 20px;
}

ion-avatar {
  &.other {
    height: auto;
    width: 20%;
    aspect-ratio: 1/1;
  }
}

ion-icon {
  &.other {
    height: auto;
    width: 20%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
  }
}

hr {
  border: 0;
  border-top: 1px solid #a0a0a0;
  margin: 5px 10px;
}
