h3 {
  margin-left: 20px;
}

ion-avatar {
  &.other {
    height: auto;
    width: 20%;
    aspect-ratio: 1/1;
  }
}

ion-icon {
  &.other {
    height: auto;
    width: 20%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
  }
}
