<ion-header>
  <ion-toolbar>
    <!-- <ion-title>create profile</ion-title> -->
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateProfile()" color="secondary">登録</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-list>
      <div class="ion-text-center ion-padding">
        <ion-avatar style="display: inline-block">
          <img [src]="photo || profileObject?.profilePhotoDataUrl || '/assets/shapes.svg'" />
        </ion-avatar>
      </div>
      <div class="ion-text-center">
        <ion-button (click)="takePicture()" fill="clear" size="default"> 画像変更 </ion-button>
      </div>
      <ion-item>
        <ion-label class="floating">名前: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['name']"
          [ngModelOptions]="{ standalone: true }"
          name="name"
          required
        ></ion-input></ion-item
      ><ion-item>
        <ion-label class="floating">年齢: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['age']"
          [ngModelOptions]="{ standalone: true }"
          name="age"
          required
        ></ion-input></ion-item
      ><ion-item slot="end">
        <ion-label class="floating">誕生日: </ion-label>
        <ion-item lines="none">
          <ion-select value="12" [ngModelOptions]="{ standalone: true }" [(ngModel)]="profileObject['birthMonth']">
            <ion-select-option *ngFor="let month of birthMonthArray">{{ month }}</ion-select-option>
          </ion-select>
        </ion-item>
        月
        <ion-item lines="none">
          <ion-select value="31" [ngModelOptions]="{ standalone: true }" [(ngModel)]="profileObject['birthDay']">
            <ion-select-option *ngFor="let day of birthDayArray">{{ day }}</ion-select-option>
          </ion-select>
        </ion-item>
        日
        <!-- <ion-input
          type="text"
          [(ngModel)]="profileObject['birthDay']"
          [ngModelOptions]="{ standalone: true }"
          name="birthDay"
          required
        ></ion-input> --> </ion-item
      ><ion-item>
        <ion-label class="floating">性別: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['gender']"
          [ngModelOptions]="{ standalone: true }"
          name="gender"
          required
        ></ion-input></ion-item
      ><ion-item>
        <ion-label class="floating">出身地: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['birthPlace']"
          [ngModelOptions]="{ standalone: true }"
          name="birthPlace"
          required
        ></ion-input></ion-item
      ><ion-item>
        <ion-label class="floating">趣味: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['hobby']"
          [ngModelOptions]="{ standalone: true }"
          name="hobby"
          required
        ></ion-input></ion-item
      ><ion-item>
        <ion-label class="floating">好きな食べ物: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['favoriteFood']"
          [ngModelOptions]="{ standalone: true }"
          name="favoriteFood"
          required
        ></ion-input></ion-item
      ><ion-item>
        <ion-label class="floating">嫌いなもの: </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profileObject['dislikes']"
          [ngModelOptions]="{ standalone: true }"
          name="dislikes"
          required
        ></ion-input></ion-item
      ><ion-item> </ion-item>
    </ion-list>
  </form>
</ion-content>
