<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-avatar [button]="true" *ngIf="profileData" slot="start" style="width: 36px; height: 36px">
      <ion-img
        button="true"
        (click)="takePicture()"
        [src]="profileData?.profilePhotoDataUrl || '/assets/shapes.svg'"
      ></ion-img>
    </ion-avatar>
    <ion-title *ngIf="profileData"
      ><ion-input
        [value]="profileData.name"
        [(ngModel)]="profileData['name']"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input
    ></ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="setProfileData()" color="secondary" button="true">編集</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" *ngIf="profileData">
    <ion-item
      ><ion-icon name="happy-outline"></ion-icon>　年齢:
      <ion-select value="31" [ngModelOptions]="{ standalone: true }" [(ngModel)]="profileData['age']">
        <ion-select-option *ngFor="let age of ageArray">{{ age }}</ion-select-option>
      </ion-select>
      <!-- <ion-input
        [value]="profileData.age"
        [(ngModel)]="profileData['age']"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input> -->
    </ion-item>
    <ion-item>
      <ion-icon name="gift-outline"></ion-icon>
      <ion-item lines="none">
        <ion-select value="12" [ngModelOptions]="{ standalone: true }" [(ngModel)]="profileData['birthMonth']">
          <ion-select-option *ngFor="let month of birthMonthArray">{{ month }}</ion-select-option>
        </ion-select>
        月
      </ion-item>
      <ion-item lines="none">
        <ion-select value="31" [ngModelOptions]="{ standalone: true }" [(ngModel)]="profileData['birthDay']">
          <ion-select-option *ngFor="let day of birthDayArray">{{ day }}</ion-select-option>
        </ion-select>
        日
      </ion-item>
    </ion-item>
    <ion-item
      ><ion-icon name="male-female-outline"></ion-icon>　性別:
      <ion-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="profileData['gender']">
        <ion-select-option>男性</ion-select-option>
        <ion-select-option>女性</ion-select-option>
        <ion-select-option>その他</ion-select-option>
      </ion-select></ion-item
    >
    <ion-item
      ><ion-icon name="home-outline"></ion-icon>　出身地:
      <ion-input
        [value]="profileData.birthPlace"
        [(ngModel)]="profileData['birthPlace']"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
    <ion-item
      ><ion-icon name="game-controller-outline"></ion-icon>　趣味:
      <ion-input
        [value]="profileData.hobby"
        [(ngModel)]="profileData['hobby']"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input
    ></ion-item>
    <ion-item
      ><ion-icon name="thumbs-up-outline"></ion-icon>　好きな食べ物:
      <ion-input
        [value]="profileData.favoriteFood"
        [(ngModel)]="profileData['favoriteFood']"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input
    ></ion-item>
    <ion-item
      ><ion-icon name="sad-outline"></ion-icon>　嫌いなもの:
      <ion-input
        [value]="profileData.dislikes"
        [(ngModel)]="profileData['dislikes']"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input
    ></ion-item>
    <ion-button (click)="presentAlertConfirm()" color="danger" button="true">削除</ion-button>
  </form>
</ion-content>
