/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.cal-month-view .cal-day-cell {
  min-height: 0;
}

.cal-days > .ng-star-inserted > .cal-cell-row {
  height: 96px;
}

.cal-month-view .cal-cell-top {
  min-height: 0px;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
}

.cal-month-view .cal-events {
  align-items: flex-end;
}

.cal-events {
  position: relative;
  ion-avatar.first {
    position: absolute;
    left: 10px;
    z-index: 3;
    border: 5px;
  }
  ion-avatar.second {
    position: absolute;
    left: 25px;
    z-index: 2;
  }
  ion-avatar.other {
    position: absolute;
    left: 40px;
    z-index: 1;
  }
}

ion-avatar {
  img {
    border-radius: 50% !important;
    overflow: hidden !important;
    border: 3px solid white !important;
  }
}
